.hero {
    --space-big: 4.5rem;
    margin     : var(--space-block) 0;
    margin-top : 0;
    padding-top: 5rem;
    overflow-x : hidden;

    background-image: var(--green-linear);

    .btn-container {
        margin-top : 30px;
        display    : flex;
        flex-wrap  : wrap;
        align-items: center;
        min-width  : 100%;

        .btn {
            margin   : 5px 0;
            max-width: 100px;
            min-width: max-content;

        }

        .btn-primary {
            margin-right: 15px;
        }

    }

    .title {
        line-height  : 1.2;
        margin-bottom: 24px;
    }

    .block-content {
        display  : flex;
        flex-wrap: wrap;
    }

}

.hero__circle {
    position       : absolute;
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;

    .circle-hero {
        min-width       : 100px;
        min-height      : 100px;
        max-width       : 250px;
        max-height      : 250px;
        border-radius   : 50%;
        background-color: var(--gray);
        margin          : 0.25rem;
    }

    .circle-1 {
        width : 150px;
        height: 150px;
    }

    .circle-2 {
        width : 100px;
        height: 100px;
    }

    .circle-3 {
        width : 80px;
        height: 80px;
    }


}

@media #{$xs} {
    .hero__circle {

        .circle-1 {
            width : 200px;
            height: 200px;
        }

        .circle-2 {
            width : 150px;
            height: 150px;
        }

        .circle-3 {
            width : 100px;
            height: 100px;
        }
    }
}

@media #{$sml} {

    .hero {
        .block-content {
            flex-wrap: nowrap;
        }

        .title {
            @include textWhiteSelected();
        }

        .container {
            padding-left : rem(15);
            padding-right: rem(15);
        }

        .btn-icon {
            background-color: transparent;
            color           : var(--white);
            border          : 1px solid var(--white)
        }

    }

    .hero__circle {

        .circle-1 {
            width : 200px;
            height: 200px;
        }

        .circle-2 {
            width : 160px;
            height: 160px;
        }

        .circle-3 {
            width : 120px;
            height: 120px;
        }
    }


}

.block-right,
.block-left {
    margin-bottom: var(--space-big);
}

@media #{$md} {
    .hero {
        .title {
            line-height  : 75px;
            margin-bottom: 50px;
        }

        .block-right {
            overflow-x: hidden;
        }
    }

    .hero__circle {
        position       : absolute;
        display        : flex;
        justify-content: center;
        flex-wrap      : wrap;

        .circle-hero {
            min-width : 200px;
            min-height: 200px;
            max-width : 400px;
            max-height: 400px;
            margin    : 0.5rem;
        }

        .circle-1 {
            width : 280px;
            height: 280px;
        }

        .circle-2 {
            width : 180px;
            height: 180px;
        }

        .circle-3 {
            width : 140px;
            height: 140px;
        }
    }
}