#services {
    background: linear-gradient(180deg, #E2EEEC -5.54%, rgba(227, 239, 237, 0) 100%);
}

.service__item {
    min-height: 300px;
    min-width : 250px;
    max-width : max-content;
    max-height: max-content;
    color     : var(--text-dark);
    transition: background-color 0.3s, color 0.3s;

    .title {
        font-weight: 500;
    }

    .icon-service {
        background-color: #E2EEEC;
        border-radius   : 16px;
    }

    &:hover {
        background-color: var(--green_b);
        color           : var(--text-light);


        .title {
            color: var(--white);
        }

        .icon-service {
            background-color: #254330;
        }

        * {
            color: currentColor;
        }
    }
}