.service__item {
    min-height: 300px;
    min-width : 250px;
    max-width : max-content;
    max-height: max-content;
    color     : var(--text-dark);
    transition: background-color 0.35s, color 0.35s;

    .title {
        font-weight: 500;
    }

    &:hover {
        background-color: var(--green_b);
        color           : var(--textGray);

        .title {
            color: var(--white);
        }
    }
}