.our-values {
    background: var(--white-gradient_1);
    position  : relative;

    &.section {
        padding: rem(90) 0;
    }


    .value {
        margin-bottom: rem(80);
    }

    .btn-link {
        font-weight: 700;
    }

    .value__image {
        min-height      : 350px;
        max-height      : 400px;
        width           : 100%;
        background-color: var(--gray);
        border-radius   : 16px;
        overflow        : hidden;
    }
}

.value__infos {
    padding-bottom: 40px;
    position      : relative;

    .position {
        width      : 168px;
        height     : 168px;
        position   : absolute;
        font-size  : 160px;
        font-weight: 900;
        right      : 0;
        top        : 0;
        transform  : translateY(-50%);
        color      : var(--text-light);
        display    : none;

        @media #{$md} {
            display: block;
        }

    }

    p {
        max-width: 816px;
    }

    .title {
        margin-bottom: 24px;
        max-width    : 920px;
    }
}