.our-values {
    background: var(--white-gradient_1);
    position  : relative;

    &.section {
        padding: rem(90) 0;
    }

    .position {
        position: absolute;
        top     : 0;
        right   : 0;
        z-index : -1;
        color   : var(--text-dark);

    }

    .value {
        margin-bottom: rem(80);
    }

    .btn-link {
        font-weight: 700;
    }

    .value__image {
        min-height      : 350px;
        max-height      : 400px;
        width           : 100%;
        background-color: var(--gray);
        border-radius   : 16px;
        overflow        : hidden;
    }
}

.value__infos {
    padding-bottom: 40px;
    position      : relative;

    &::before {
        content            : ' ('attr(data-count) ')';
        width              : 168px;
        height             : 168px;
        position           : absolute;
        z-index            : -1;
        right              : 0;
        top                : 50%;
        transform          : translateY(-50%);
        // background-color: var(--gray);
        color              : var(--text-light);
        // display : none;

    }

    p {
        max-width: 816px;
    }

    .title {
        margin-bottom: 24px;
        max-width    : 920px;
    }
}